<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= formatted_currency(product.price) %>
    </td>
  </td>
  <td>
    <div>
      <%= quantity %>
    </div>
  </td>
  <td>
    <%= formatted_currency(product.price * quantity) %>
  </td>
</tr>
